 .u-section-1 {
  background-position: 50% 50%;
  min-height: 1073px;
}

.u-section-1 .u-image-1 {
  width: 487px;
  height: 391px;
  object-position: 40.93% 100%;
  background-position: 40.93% 100%;
  margin: 27px calc(((100% - 1140px) / 2)  + 290px) 0 auto;
}

.u-section-1 .u-group-1 {
  width: 1121px;
  min-height: 155px;
  height: auto;
  margin: 12px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 3.75rem;
  margin: 1px 0 0 9px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  line-height: 1;
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-1 .u-image-2 {
  --radius: 10px;
  height: 483px;
  margin-top: -7px;
  margin-bottom: 12px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1022px;
  }

  .u-section-1 .u-image-1 {
    width: 419px;
    height: 340px;
    margin-right: calc(((100% - 940px) / 2)  + 243px);
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 7px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-left: 17px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 790px;
  }

  .u-section-1 .u-image-1 {
    width: 572px;
    height: 240px;
    margin-right: calc(((100% - 720px) / 2)  + 40px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -28px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 399px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 50% 50%, 50% 50%;
    background-size: cover;
    min-height: 635px;
  }

  .u-section-1 .u-image-1 {
    width: 273px;
    height: 242px;
    margin-top: 0;
    margin-right: calc(((100% - 540px) / 2)  + 118px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -6px;
    min-height: 90px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 28px;
  }

  .u-section-1 .u-image-2 {
    height: 308px;
    margin-bottom: 1px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    height: 180px;
    width: 198px;
    margin-top: 22px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-image-2 {
    height: 232px;
    margin-top: 16px;
  }
} .u-section-2 {
  min-height: 305px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/11.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(to bottom, rgba(214, 225, 222, 1), rgba(214, 225, 222, 1)), linear-gradient(to bottom, rgba(249, 253, 11, 1), rgba(249, 253, 11, 1)), url('images/bg3.jpg');
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover;
  min-height: 305px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 60px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 30px 30px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 19px 16px 0 -30px;
}

.u-section-2 .u-image-3 {
  filter: none;
  background-image: url("images/1.jpg");
  min-height: 305px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 69px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 241px;
  }

  .u-section-2 .u-image-2 {
    min-height: 251px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 8px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 16px;
    margin-left: 12px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-2 .u-image-3 {
    min-height: 251px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-image-2 {
    min-height: 192px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 12px;
    margin-right: 0;
    margin-left: 2px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-image-3 {
    min-height: 192px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 465px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 211px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 11px;
    margin-right: 28px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    min-height: 288px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 742px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-image-1 {
    min-height: 230px;
  }

  .u-section-2 .u-image-2 {
    min-height: 261px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 8px;
    margin-right: 27px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 8px;
  }

  .u-section-2 .u-image-3 {
    min-height: 250px;
  }
} .u-section-3 {
  background-image: linear-gradient(to bottom, rgba(167, 255, 0, 1), rgba(167, 255, 0, 1));
  min-height: 247px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  text-transform: none;
  font-style: italic;
  font-size: 3rem;
  margin: 8px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 13px;
  margin-bottom: 9px;
}

.u-section-3 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 164px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  animation-timing-function: ease-in-out;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 0 auto 0 8px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  font-weight: 400;
  font-size: 0.625rem;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  animation-timing-function: ease-in-out;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 0 auto 0 8px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  color: rgba(0, 0, 0, 0);
  font-size: 1.875rem;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  animation-timing-function: ease-in-out;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 0 auto 0 8px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  animation-timing-function: ease-in-out;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 0 auto 0 8px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  animation-timing-function: ease-in-out;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 0 auto 0 8px;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  animation-timing-function: ease-in-out;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 0 auto 0 8px;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 130px;
  }

  .u-section-3 .u-list-item-1 {
    background-position: 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    --radius: 50px;
  }

  .u-section-3 .u-list-item-2 {
    background-position: 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    --radius: 50px;
  }

  .u-section-3 .u-list-item-3 {
    --radius: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
  }

  .u-section-3 .u-list-item-4 {
    background-position: 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    --radius: 50px;
  }

  .u-section-3 .u-list-item-5 {
    background-position: 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    --radius: 50px;
  }

  .u-section-3 .u-list-item-6 {
    background-position: 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    --radius: 50px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 2px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 1px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 417px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 279px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 344px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 13px;
    margin-bottom: 9px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 281px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-3 .u-text-2 {
    margin-left: -7px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-3 .u-text-3 {
    margin-left: -7px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-3 .u-text-4 {
    margin-left: -7px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-3 .u-text-5 {
    margin-left: -7px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-3 .u-text-6 {
    margin-left: -7px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-3 .u-text-7 {
    margin-left: -7px;
  }
} .u-section-4 {
  background-image: url("images/xc.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 100px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 18px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.75rem;
  margin: 18px 0 0;
}

.u-section-4 .u-image-1 {
  width: 196px;
  height: 60px;
  margin: 46px auto 0 48px;
}

.u-section-4 .u-image-2 {
  width: 249px;
  height: 92px;
  margin: -74px 58px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 315px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0 26px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 7px;
    margin-right: 24px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-image-1 {
    margin-top: 24px;
    margin-left: 26px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -76px;
    margin-right: 37px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 0;
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 17px;
  }

  .u-section-4 .u-image-1 {
    height: 82px;
    margin-left: 78px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -87px;
    margin-right: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 341px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5555555555555554rem;
    margin-top: 15px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 29px;
    margin-left: 46px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -92px;
    margin-right: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 544px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 81px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: -163px;
    margin-right: auto;
    margin-left: 0;
  }
}